.customButton, .tab {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-border-width: 1.5px;
    -fx-cursor: hand;
    -fx-border-radius: 2px;
    -fx-focus-color: transparent;
}

.selectedTab, .unselectedTab:hover {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 1.5px;
    -fx-border-radius: 2px;
    -fx-focus-color: transparent;
}

.selectedTab {
    -fx-cursor: default;
}

.unselectedTab * {
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.selectedTab *, .unselectedTab:hover * {
    -fx-text-fill: black;
}

.customButton:hover {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-border-color: black;
}

#videoControls {
    -fx-background-color: rgba(20, 20, 20, 0.85);
}

.slider {
    -fx-background-color: #ffffff;
    -fx-cursor: hand;
    -fx-pref-height: 8px;
}

#seekSlider .bar {
    -fx-background-color: red;
}

#volumeSlider .bar {
    -fx-background-color: green;
}

#seekSlider .track {
    -fx-background-color: white;
}

.slider, .slider * {
    -fx-background-insets: 0;
}